body{
    background-color: antiquewhite;
}

h1{
    font-family:sans-serif, Haettenschweiler, 'Arial Narrow Bold';
    margin-left: 10px;
}

#fourRecipes{
    background-color: azure;
    width:20%;
    border-style:solid;
    border-color:red;
}

#lasagnaPage,#tacoPage,#enchiladasPage,#pancakesPage{
    margin: 10px;
    padding: 3px;
}

.ingredients{
    font-family: Arial, Helvetica, sans-serif;
    border-style:solid;
    border-color:red;
}